@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
    font-family: 'Squada One', sans-serif;
}

body header {
    margin-top: 10%;
    width: 100%;
}

body header div a {
    font-size: 64px;
    color: #20bf6b !important;
    width: 100%;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

body div {
    width: 100%;
    margin-top: 4%;
    text-align: center;
}

body div div {
    margin-top: 4%;
}

body div div div {
    display: inline;
}

body div div div input {
    font-size: 16px;
    background: #ffffff;
    padding: 1%;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    min-width: 75%;
    max-width: 75%;
    text-align: left;
    margin: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

body div div div button {
    font-size: 16px;
    background: #ffffff;
    padding: 1%;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    min-width: 20%;
    max-width: 20%;
    text-align: center;
    line-break: strict;
    word-break: break-all;
    margin: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

body div div div p {
    font-family: sans-serif;
    font-size: 16px;
    background: #eaeaea;
    padding: 0.2%;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    min-width: 75%;
    max-width: 75%;
    text-align: left;
    margin: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

body div div div p span {
    margin: 5%;
}